# Google Analytics Customer Revenue Prediction

* Data Exploration
* 2018.09.17 ~

## 1. Import Required Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 2. Data Loading

In [2]:
train = pd.read_csv("../data/train.csv", index_col="fullVisitorId", parse_dates=['date'])
test = pd.read_csv("../data/test.csv",index_col="fullVisitorId", parse_dates=['date'])
submission = pd.read_csv("../data/sample_submission.csv",index_col="fullVisitorId")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(train.shape)
train.head()

(903653, 11)

,channelGrouping,date,device,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
fullVisitorId,,,,,,,,,,,
1131660440785968503,Organic Search,2016-09-02,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...","{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
377306020877927890,Organic Search,2016-09-02,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...","{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
3895546263509774583,Organic Search,2016-09-02,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...","{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386
4763447161404445595,Organic Search,2016-09-02,"{""browser"": ""UC Browser"", ""browserVersion"": ""n...","{""continent"": ""Asia"", ""subContinent"": ""Southea...",4763447161404445595_1472881213,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472881213,1,1472881213
27294437909732085,Organic Search,2016-09-02,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...","{""continent"": ""Europe"", ""subContinent"": ""North...",27294437909732085_1472822600,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472822600,2,1472822600

In [4]:
print(test.shape)
test.head()

(804684, 11)

,channelGrouping,date,device,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
fullVisitorId,,,,,,,,,,,
6167871330617112363,Organic Search,2017-10-16,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...","{""continent"": ""Asia"", ""subContinent"": ""Southea...",6167871330617112363_1508151024,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""4"", ""pageviews"": ""4""}","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508151024,2,1508151024
0643697640977915618,Organic Search,2017-10-16,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...","{""continent"": ""Europe"", ""subContinent"": ""South...",0643697640977915618_1508175522,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""5"", ""pageviews"": ""5"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508175522,1,1508175522
6059383810968229466,Organic Search,2017-10-16,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...","{""continent"": ""Europe"", ""subContinent"": ""Weste...",6059383810968229466_1508143220,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""7"", ""pageviews"": ""7"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508143220,1,1508143220
2376720078563423631,Organic Search,2017-10-16,"{""browser"": ""Safari"", ""browserVersion"": ""not a...","{""continent"": ""Americas"", ""subContinent"": ""Nor...",2376720078563423631_1508193530,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""8"", ""pageviews"": ""4"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508193530,1,1508193530
2314544520795440038,Organic Search,2017-10-16,"{""browser"": ""Safari"", ""browserVersion"": ""not a...","{""continent"": ""Americas"", ""subContinent"": ""Nor...",2314544520795440038_1508217442,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""9"", ""pageviews"": ""4"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508217442,1,1508217442

In [5]:
print(submission.shape)
submission.head()

(617242, 1)

                     PredictedLogRevenue
fullVisitorId
0000000259678714014                  0.0
0000049363351866189                  0.0
0000053049821714864                  0.0
0000059488412965267                  0.0
0000085840370633780                  0.0


### **[comment_180917]**
* JSON 형태의 컬럼 Values를 DataFrame 형태로 변환을 어떻게 해야되나?

## 3. Conver JSON to df

In [6]:
import json
from pandas.io.json import json_normalize

In [7]:
def load_df(csv_path='../data/train.csv', nrows=None):
    JSON_COLUMNS = ['device', 'geoNetwork', 'totals', 'trafficSource']
    
    df = pd.read_csv(csv_path,
                     converters={column: json.loads for column in JSON_COLUMNS}, 
                     dtype={'fullVisitorId': 'str'}, # Important!!
                     nrows=nrows)
    
    for column in JSON_COLUMNS:
        column_as_df = json_normalize(df[column])
        column_as_df.columns = [f"{column}.{subcolumn}" for subcolumn in column_as_df.columns]
        df = df.drop(column, axis=1).merge(column_as_df, right_index=True, left_index=True)
    return df

In [8]:
%%time
train = load_df()
test = load_df('../data/test.csv')

CPU times: user 3min 50s, sys: 14 s, total: 4min 4s
Wall time: 4min 3s

## 4. Feature Exploration

### Data Fields
* fullVisitorId- A unique identifier for each user of the Google Merchandise Store.
* channelGrouping - The channel via which the user came to the Store.
* date - The date on which the user visited the Store.
* device - The specifications for the device used to access the Store.
* geoNetwork - This section contains information about the geography of the user.
* sessionId - A unique identifier for this visit to the store.
* socialEngagementType - Engagement type, either "Socially Engaged" or "Not Socially Engaged".
* totals - This section contains aggregate values across the session.
* trafficSource - This section contains information about the Traffic Source from which the session originated.
* visitId - An identifier for this session. This is part of the value usually stored as the _utmb cookie. This is only unique to the user. For a completely unique ID, you *  should use a combination of fullVisitorId and visitId.
* visitNumber - The session number for this user. If this is the first session, then this is set to 1.
* visitStartTime - The timestamp (expressed as POSIX time).

In [9]:
train.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserSize,...,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.campaign,trafficSource.campaignCode,trafficSource.isTrueDirect,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Firefox,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,UC Browser,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,google + online,organic,NaN,google
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,True,(not provided),organic,NaN,google

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 55 columns):
channelGrouping                                      903653 non-null object
date                                                 903653 non-null int64
fullVisitorId                                        903653 non-null object
sessionId                                            903653 non-null object
socialEngagementType                                 903653 non-null object
visitId                                              903653 non-null int64
visitNumber                                          903653 non-null int64
visitStartTime                                       903653 non-null int64
device.browser                                       903653 non-null object
device.browserSize                                   903653 non-null object
device.browserVersion                                903653 non-null object
device.deviceCategory                                903653 non-null object
device.flashVersion                                  903653 non-null object
device.isMobile                                      903653 non-null bool
device.language                                      903653 non-null object
device.mobileDeviceBranding                          903653 non-null object
device.mobileDeviceInfo                              903653 non-null object
device.mobileDeviceMarketingName                     903653 non-null object
device.mobileDeviceModel                             903653 non-null object
device.mobileInputSelector                           903653 non-null object
device.operatingSystem                               903653 non-null object
device.operatingSystemVersion                        903653 non-null object
device.screenColors                                  903653 non-null object
device.screenResolution                              903653 non-null object
geoNetwork.city                                      903653 non-null object
geoNetwork.cityId                                    903653 non-null object
geoNetwork.continent                                 903653 non-null object
geoNetwork.country                                   903653 non-null object
geoNetwork.latitude                                  903653 non-null object
geoNetwork.longitude                                 903653 non-null object
geoNetwork.metro                                     903653 non-null object
geoNetwork.networkDomain                             903653 non-null object
geoNetwork.networkLocation                           903653 non-null object
geoNetwork.region                                    903653 non-null object
geoNetwork.subContinent                              903653 non-null object
totals.bounces                                       450630 non-null object
totals.hits                                          903653 non-null object
totals.newVisits                                     703060 non-null object
totals.pageviews                                     903553 non-null object
totals.transactionRevenue                            11515 non-null object
totals.visits                                        903653 non-null object
trafficSource.adContent                              10946 non-null object
trafficSource.adwordsClickInfo.adNetworkType         21460 non-null object
trafficSource.adwordsClickInfo.criteriaParameters    903653 non-null object
trafficSource.adwordsClickInfo.gclId                 21561 non-null object
trafficSource.adwordsClickInfo.isVideoAd             21460 non-null object
trafficSource.adwordsClickInfo.page                  21460 non-null object
trafficSource.adwordsClickInfo.slot                  21460 non-null object
trafficSource.campaign                               903653 non-null object
trafficSource.campaignCode                           1 non-null object
trafficSource.isTrueDirect                           274005 non-null object
trafficSource.keyword                                400724 non-null object
trafficSource.medium                                 903653 non-null object
trafficSource.referralPath                           330941 non-null object
trafficSource.source                                 903653 non-null object
dtypes: bool(1), int64(4), object(50)
memory usage: 373.2+ MB

### 4-1 ID ?
* The data involves three kinds of ID, 'fullVisitorId','visitId','sessionId'

In [11]:
print("fullVisitorId:", train['fullVisitorId'].unique().shape[0])
print("visitId:", train['visitId'].unique().shape[0])
print("sessionId:", train['sessionId'].unique().shape[0])
train.shape[0]

fullVisitorId: 714167
visitId: 886303
sessionId: 902755

903653

In [51]:
ID = ['fullVisitorId', 'visitId', 'sessionId','totals.visits','visitNumber', 'totals.newVisits', 'totals.transactionRevenue']

In [52]:
df=train[ID]

In [53]:
df['totals.visits'].astype('float64')
df.sort_values(by='totals.visits', ascending=False)

,fullVisitorId,visitId,sessionId,totals.visits,visitNumber,totals.newVisits,totals.transactionRevenue
0,1131660440785968503,1472830385,1131660440785968503_1472830385,1,1,1,NaN
602440,6806856813704143379,1492130408,6806856813704143379_1492130408,1,1,1,NaN
602429,9545975749949990537,1492114115,9545975749949990537_1492114115,1,2,NaN,NaN
602430,3693770429609631454,1492111459,3693770429609631454_1492111459,1,1,1,NaN
602431,8635184591549919740,1492070184,8635184591549919740_1492070184,1,2,NaN,NaN
602432,6429272353959724923,1492072710,6429272353959724923_1492072710,1,4,NaN,NaN
602433,3454089691147888813,1492140799,3454089691147888813_1492140799,1,1,1,NaN
602434,2109679699290167048,1492071663,2109679699290167048_1492071663,1,1,1,NaN
602435,4588025332347215297,1492105353,4588025332347215297_1492105353,1,1,1,NaN
602436,7514978584926233942,1492116401,7514978584926233942_1492116401,1,2,NaN,NaN
602437,8899824508237264906,1492075466,8899824508237264906_1492075466,1,8,NaN,NaN
602438,2501534969768424500,1492091592,2501534969768424500_1492091592,1,2,NaN,NaN
602439,1514435396653670841,1492116620,1514435396653670841_1492116620,1,1,1,NaN
602441,4929673525501967862,1492120989,4929673525501967862_1492120989,1,1,1,NaN
602427,7838704546442862110,1492099559,7838704546442862110_1492099559,1,2,NaN,NaN
602442,2581534104840207127,1492088542,2581534104840207127_1492088542,1,8,NaN,NaN
602443,6478784128773642129,1492112347,6478784128773642129_1492112347,1,12,NaN,NaN
602444,2095241851548680291,1492105999,2095241851548680291_1492105999,1,1,1,NaN
602445,6478784128773642129,1492123691,6478784128773642129_1492123691,1,13,NaN,NaN
602446,2833723429084546318,1492143789,2833723429084546318_1492143789,1,1,1,NaN
602447,0109942623039297425,1492137353,0109942623039297425_1492137353,1,1,1,NaN
602448,1674990666180494077,1492123305,1674990666180494077_1492123305,1,1,1,NaN
602449,1395168861707682111,1492084210,1395168861707682111_1492084210,1,3,NaN,NaN
602450,6641451111907956594,1492129423,6641451111907956594_1492129423,1,5,NaN,NaN
602451,0481642453436318570,1492120411,0481642453436318570_1492120411,1,1,1,NaN
602452,5763828483978718178,1492146182,5763828483978718178_1492146182,1,1,1,NaN
602428,9456812962390778471,1492093192,9456812962390778471_1492093192,1,1,1,NaN
602426,6152825572813881062,1492148189,6152825572813881062_1492148189,1,2,NaN,NaN
602509,0802000449494554413,1492130250,0802000449494554413_1492130250,1,1,1,NaN
602412,8035639345703608994,1492153194,8035639345703608994_1492153194,1,1,1,NaN
...,...,...,...,...,...,...,...
301251,0526257110651612626,1500809979,0526257110651612626_1500809979,1,2,NaN,NaN
301252,5367746956631955804,1500832749,5367746956631955804_1500832749,1,1,1,NaN
301228,4450063044379166313,1482176887,4450063044379166313_1482176887,1,2,NaN,NaN
301227,5039826201886901838,1482188417,5039826201886901838_1482188417,1,1,1,NaN
301226,6973864632225219116,1482149270,6973864632225219116_1482149270,1,1,1,NaN
301225,6263636079274672766,1482184212,6263636079274672766_1482184212,1,1,1,NaN
301202,183317007783130857,1482213671,183317007783130857_1482213671,1,1,1,NaN
301203,466656091918745768,1482136702,466656091918745768_1482136702,1,1,1,NaN
301204,5099217947231754892,1482187491,5099217947231754892_1482187491,1,1,1,NaN
301205,2656379313192623495,1482157033,2656379313192623495_1482157033,1,1,1,NaN
301206,5400299234548355900,1482215314,5400299234548355900_1482215314,1,1,1,NaN
301207,6088919964661323650,1482161209,6088919964661323650_1482161209,1,1,1,NaN
301208,5033130210336999781,1482199733,5033130210336999781_1482199733,1,1,1,NaN
301209,0659141316839437054,1482166097,0659141316839437054_1482166097,1,1,1,NaN
301210,8946477468315772714,1482190040,8946477468315772714_1482190040,1,1,1,NaN
301211,5338711480020093155,1482182117,5338711480020093155_1482182117,1,1,1,NaN
301212,7704782743254663894,1482172419,7704782743254663894_1482172419,1,1,1,NaN
301213,5626250283469838878,1482189514,5626250283469838878_1482189514,1,1,1,NaN
301214,2559846667975826533,1482175097,2559846667975826533_1482175097,1,1,1,NaN
301215,3077990194604064639,1482205432,3077990194604064639_1482205432,1,1,1,NaN
301216,7333714576828210420,1482139920,7333714576828210420_1482139920,1,1,1,NaN
301217,4886753762268134140,1482162281,4886753762268134140_1482162281,1,2,NaN,NaN
301218,8132626026205659932,1482145940,8132626026205659932_1482145940,1,1,1,NaN
301219,8055338776404601031,1482220227,8055338776404601031_1482220227,1,2,NaN,NaN
301220,6429175389613695736,1482157280,6429175389613695736_1482157280,1,1,1,NaN
301221,6308331546397224311,1482164742,6308331546397224311_1482164742,1,1,1,NaN
301222,7066295374375668920,1482168957,7066295374375668920_1482168957,1,1,1,NaN
301223,6366552470082862282,1482166498,6366552470082862282_1482166498,1,1,1,NaN
301224,8464934095365108212,1482177106,8464934095365108212_1482177106,1,1,1,NaN
903652,0814900163617805053,1483574474,0814900163617805053_1483574474,1,1,1,NaN

In [58]:
df.loc[df['sessionId']=='6429272353959724923_1492072710']

,fullVisitorId,visitId,sessionId,totals.visits,visitNumber,totals.newVisits,totals.transactionRevenue
602432,6429272353959724923,1492072710,6429272353959724923_1492072710,1,4,NaN,NaN