In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train_1006.csv')
test = pd.read_csv('test_1006.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train = train.drop('fullVisitorId', axis=1)
x_train=train.drop('totals.transactionRevenue', axis=1)
y_train=train['totals.transactionRevenue']

In [4]:
x_test=test.drop('fullVisitorId', axis=1)
id_test=test['fullVisitorId']

In [5]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=100)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=100, verbose=0, warm_start=False)

In [6]:
model.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=100, verbose=0, warm_start=False)

In [38]:
predictions = model.predict(x_test)
print(predictions.shape)
predictions=pd.Series(predictions, name='totals.transactionRevenue')

(804684,)

In [39]:
result = pd.concat([id_test,predictions], axis=1)

In [40]:
submission=pd.read_csv('../data/sample_submission.csv')

In [41]:
submission.shape

(617242, 2)

In [42]:
submission.head()

         fullVisitorId  PredictedLogRevenue
0  0000000259678714014                  0.0
1  0000049363351866189                  0.0
2  0000053049821714864                  0.0
3  0000059488412965267                  0.0
4  0000085840370633780                  0.0

In [43]:
result = result.groupby('fullVisitorId').sum()

In [44]:
submission = submission.merge(result, how='left', on='fullVisitorId')

In [45]:
submission['totals.transactionRevenue']= submission['totals.transactionRevenue'].fillna(0)

In [46]:
submission.head()

         fullVisitorId  PredictedLogRevenue  totals.transactionRevenue
0  0000000259678714014                  0.0                        0.0
1  0000049363351866189                  0.0                        0.0
2  0000053049821714864                  0.0                        0.0
3  0000059488412965267                  0.0                        0.0
4  0000085840370633780                  0.0                        0.0

In [48]:
submission = submission.drop('PredictedLogRevenue', axis=1)

In [49]:
submission.col_names(

              fullVisitorId  totals.transactionRevenue
0       0000000259678714014                   0.000000
1       0000049363351866189                   0.000000
2       0000053049821714864                   0.000000
3       0000059488412965267                   0.000000
4       0000085840370633780                   0.000000
5       0000091131414287111                   0.000000
6       0000117255350596610                   5.202439
7       0000118334805178127                   0.000000
8       0000130646294093000                   0.000000
9       0000150005271820273                   0.000000
10      0000166374699289385                   0.000000
11      0000174453501096099                   0.000000
12       000018122977590134                   1.663748
13       000020731284570628                   0.000000
14      0000232022622082281                   0.000000
15      0000271086753662651                   0.000000
16      0000282648818935742                   0.000000
17        00003038793126460                   0.000000
18      0000313524203455157                   0.000000
19      0000324924635296742                   0.000000
20      0000338548677636278                   0.000000
21      0000354865008116989                   0.000000
22      0000359974620542953                   0.000000
23      0000384434116640351                   0.000000
24      0000385653946068037                   0.000000
25      0000397214032106948                   0.000000
26      0000414003317636552                   0.000000
27      0000421850492821864                   0.000000
28      0000436683523507380                   0.000000
29      0000443488189725694                   0.000000
...                     ...                        ...
617212  9999496940471624606                   0.000000
617213  9999518756481096457                   0.000000
617214   999953571560215806                   0.000000
617215  9999562285379264463                   0.000000
617216  9999614340989943927                   0.000000
617217  9999627287761032935                   0.000000
617218  9999629963061245228                   0.000000
617219  9999664171331798815                   0.000000
617220  9999686314743907991                   0.000000
617221  9999686339684184799                   0.000000
617222  9999687906312811598                   0.000000
617223  9999715835738672145                   0.000000
617224  9999733949531374274                   0.000000
617225  9999775084144044428                   0.000000
617226   999977536649351076                   0.000000
617227  9999786007255502100                   0.000000
617228  9999789814107288877                   0.000000
617229  9999803509476553670                   0.000000
617230  9999818112872622034                   0.000000
617231  9999819762744314978                   0.000000
617232  9999824326944242344                   0.000000
617233  9999834067265202923                   0.000000
617234  9999841005270636052                   0.000000
617235  9999860794386137754                   0.000000
617236  9999882818693474736                   0.000000
617237  9999905960465191827                   0.000000
617238  9999941518946450908                   0.000000
617239  9999969142283897422                   0.000000
617240  9999985820452794361                   0.000000
617241  9999997304197521748                   0.000000

[617242 rows x 2 columns]

In [52]:
submission = submission.rename(index=str, columns={'totals.transactionRevenue':'PredictedLogRevenue'})

In [53]:
submission.head()

         fullVisitorId  PredictedLogRevenue
0  0000000259678714014                  0.0
1  0000049363351866189                  0.0
2  0000053049821714864                  0.0
3  0000059488412965267                  0.0
4  0000085840370633780                  0.0

In [54]:
submission.to_csv('../data/submission_RF_1008.csv', index=False)