In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time

%matplotlib inline

In [10]:
train =pd.read_csv('./data/train.csv', index_col='ID_code')
test = pd.read_csv('./data/test.csv', index_col='ID_code')
print(train.shape)
train.head()

(200000, 201)

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
ID_code,,,,,,,,,,,,,,,,,,,,,
train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [3]:
x = train.loc[:,train.columns != 'target']
print(x.shape)
x.head()

(200000, 200)

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
ID_code,,,,,,,,,,,,,,,,,,,,,
train_0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
train_1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
train_2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
train_3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
train_4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [4]:
y = train['target']
print(y.shape)
y.head()

(200000,)

ID_code
train_0    0
train_1    0
train_2    0
train_3    0
train_4    0
Name: target, dtype: int64

### 1. StrafifiedKFold
### [StrafifiedKFold](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html)

Stratified K-Folds cross-validator
Provides train/test indices to split data in train/test sets.
This cross-validation object is a variation of KFold that returns stratified folds. The folds are made by preserving the percentage of samples for each class.

#### Example

In [6]:
from sklearn.model_selection import StratifiedKFold

In [33]:
x = np.array([[1, 2], [3, 4], [1, 2], [3, 4]])
y = np.array([0, 0, 1, 1])
skf = StratifiedKFold(n_splits=2)
skf.get_n_splits(x, y)

2

In [34]:
print(skf)

StratifiedKFold(n_splits=2, random_state=None, shuffle=False)

In [35]:
for i, (train_index, test_index) in enumerate(skf.split(x, y)):
    print("iternation:", i, "TRAIN:", train_index, "TEST:", test_index)

iternation: 0 TRAIN: [1 3] TEST: [0 2]
iternation: 1 TRAIN: [0 2] TEST: [1 3]

In [36]:
x_train, y_train = x[train_index], y[train_index]
x_test, y_test = x[test_index], y[test_index]

In [37]:
x_train, y_train

(array([[1, 2],
        [1, 2]]), array([0, 1]))

In [38]:
x_test, y_test

(array([[3, 4],
        [3, 4]]), array([0, 1]))

### 2, LGBM

### [LGBM parameters](https://lightgbm.readthedocs.io/en/latest/Parameters.html)

In [7]:
import lightgbm as lgbm 
fold_n=2
folds = StratifiedKFold(n_splits=fold_n, shuffle=True, random_state=10)

In [12]:
# based on following kernel https://www.kaggle.com/dromosys/sctp-working-lgb
params = {'num_leaves': 9,
         'min_data_in_leaf': 42,
         'objective': 'binary',
         'max_depth': 16,
         'learning_rate': 0.0123,
         'boosting': 'gbdt',
         'bagging_freq': 5,
         'bagging_fraction': 0.8,
         'feature_fraction': 0.8201,
         'bagging_seed': 11,
         'reg_alpha': 1.728910519108444,
         'reg_lambda': 4.9847051755586085,
         'random_state': 42,
         'metric': 'auc',
         'verbosity': -1,
         'subsample': 0.81,
         'min_gain_to_split': 0.01077313523861969,
         'min_child_weight': 19.428902804238373,
         'num_threads': 4}

In [14]:
%%time
y_pred_lgb = np.zeros(len(test))
for i, (train_index, valid_index) in enumerate(folds.split(x,y)):
    print('iteration', i, 'started at', time.ctime())
    X_train, y_train = x.iloc[train_index], y.iloc[train_index]
    X_valid, y_valid = x.iloc[valid_index], y.iloc[valid_index]
    
    train_data = lgbm.Dataset(X_train, label=y_train)
    valid_data = lgbm.Dataset(X_valid, label=y_valid)
        
    lgbm_model = lgbm.train(
        params,
        train_data,
        num_boost_round=2000,#change 20 to 2000
        valid_sets = [train_data, valid_data],
        verbose_eval=300,
        early_stopping_rounds = 200) #change 10 to 200
            
    y_pred_lgb += lgbm_model.predict(test, num_iteration=lgbm_model.best_iteration)/5

iteration 0 started at Tue Mar  5 10:56:28 2019
Training until validation scores don't improve for 200 rounds.
[300]	training's auc: 0.839855	valid_1's auc: 0.81639
[600]	training's auc: 0.875365	valid_1's auc: 0.846415
[900]	training's auc: 0.894037	valid_1's auc: 0.861257
[1200]	training's auc: 0.905897	valid_1's auc: 0.870204
[1500]	training's auc: 0.914479	valid_1's auc: 0.876471
[1800]	training's auc: 0.920762	valid_1's auc: 0.880908
Did not meet early stopping. Best iteration is:
[2000]	training's auc: 0.924285	valid_1's auc: 0.883277
iteration 1 started at Tue Mar  5 10:58:22 2019
Training until validation scores don't improve for 200 rounds.
[300]	training's auc: 0.841191	valid_1's auc: 0.816015
[600]	training's auc: 0.875354	valid_1's auc: 0.846292
[900]	training's auc: 0.892486	valid_1's auc: 0.860744
[1200]	training's auc: 0.904462	valid_1's auc: 0.87007
[1500]	training's auc: 0.913149	valid_1's auc: 0.876356
[1800]	training's auc: 0.919487	valid_1's auc: 0.880811
Did not meet early stopping. Best iteration is:
[2000]	training's auc: 0.923097	valid_1's auc: 0.883232
Wall time: 3min 47s

In [39]:
y_pred_lgb.shape

(200000,)

In [21]:
submission_lgbm = pd.DataFrame({
        "ID_code": test.index,
        "target": y_pred_lgb
    })
submission_lgbm.to_csv('submission_lgbm.csv', index=False)

### 3.Model Save

In [40]:
lgbm_model.save_model('./model/lgbm_(auc_0.885)_190305.txt')

### 4. Load Model

In [42]:
loaded_model = lgbm.Booster(model_file='./model/lgbm_(auc_0.885)_190305.txt')  #init model

In [43]:
loaded_model