In [1]:
import pandas as pd

In [2]:
%pwd

'/Users/hoyounson/github/Kaggle/7_Predict Futrue Sales'

In [3]:
train=pd.read_csv('../../data/predict future sales/sales_train.csv')
print(train.shape)
train.head()

(2935849, 6)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

### 1. train data 보다보니 ..
    * data가 이상하게 생겼네?
    * data_block_num 컬럼은 2013 1월=0 부터 2015년 10월=33까지 넘버링 한 컬럼이라는데 왜?
    * item_cnt_day(판매개수) 값 중 (-)마이너스 값은 뭐임?

In [10]:
test=pd.read_csv('../../data/predict future sales/test.csv')
print(test.shape)
test.head()

(214200, 3)

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

### 2. test data
    * 이건 멍미?
    * 샵 id와 item id만 있는데 뭘 forcasting 하는 거징?? ㅠ.ㅠ

In [7]:
shops=pd.read_csv('../../data/predict future sales/shops.csv')
print(shops.shape)
shops.head()

(60, 2)

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

### 3. shops data
    * 별 필요 없는 데이터 인 듯

In [8]:
items=pd.read_csv('../../data/predict future sales/items.csv')
print(items.shape)
items.head()

(22170, 3)

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

### 4. items data:
    * item_id와 item_category_id 맵핑 테이블로 train data에 merge할 필요 있음

In [9]:
item_categories=pd.read_csv('../../data/predict future sales/item_categories.csv')
print(item_categories.shape)
item_categories.head()

(84, 2)

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

### 5. item_categories data:
    * 별 의미 없는 데이터로 보임