## DT Level 3 Day-2 Bike Sharing Demand

## 1. Import Required Libraries

In [1]:
import pandas as pd

## 2. Loading Data

In [6]:
train = pd.read_csv('./all/train.csv')
test = pd.read_csv('./all/test.csv')

In [10]:
print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [11]:
print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

## 3. Train

In [15]:
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [16]:
feature_name =['season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed']

feature_name

['season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed']

In [20]:
x_train = train[feature_name]
x_test = test[feature_name]
y_train = train['count']

In [21]:
print(x_train.shape)
x_train.head()

(10886, 8)

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0       1        0           0        1  9.84  14.395        81        0.0
1       1        0           0        1  9.02  13.635        80        0.0
2       1        0           0        1  9.02  13.635        80        0.0
3       1        0           0        1  9.84  14.395        75        0.0
4       1        0           0        1  9.84  14.395        75        0.0

In [22]:
print(x_test.shape)
x_test.head()

(6493, 8)

   season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0       1        0           1        1  10.66  11.365        56    26.0027
1       1        0           1        1  10.66  13.635        56     0.0000
2       1        0           1        1  10.66  13.635        56     0.0000
3       1        0           1        1  10.66  12.880        56    11.0014
4       1        0           1        1  10.66  12.880        56    11.0014

In [23]:
print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

### Using DecisionTreeClassifier

In [27]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [28]:
model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [32]:
predictions = model.predict(x_test)
print(predictions.shape)
predictions

(6493,)

array([ 4, 63, 63, ..., 71,  2,  3])

In [34]:
submit = pd.read_csv("./all/sampleSubmission.csv")

submit["count"] = predictions

print(submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      4
1  2011-01-20 01:00:00     63
2  2011-01-20 02:00:00     63
3  2011-01-20 03:00:00     71
4  2011-01-20 04:00:00     71

In [38]:
submit.to_csv("./all/submission.csv", index = False)